.add-news-form-container mat-card {
  width: 70%;
  margin: 0 auto 30px;
}

.add-news-form > fieldset {
  border: 1px solid #d8d8d8;
}

.add-news-form .news-form-field {
  width: 90%;
  margin: 20px 10px;
}

.add-news-container .add-news-title {
  font-size: 20px;
  font-weight: 600;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1976d2;
}

.form_group.add-news-actions {
  display: flex;
  justify-content: space-evenly;
}

.add-disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: gray;
}

.add-enabled {
  background-color: #1976d2;
  color: white;
}
